<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
    <div class="w-full h-[100vh] bg-zinc-900 p-10 text-white">
        <div class="nav text-blue-500 text-sm mb-10">
            <a href="/read">Read Users</a>
        </div>
        <h1 class="text-4xl mb-10 font-semibold">Create User</h1>

        <form action="/create" method="post">
            <input type="text" class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent"
                placeholder="name" name="name">
            <input type="text" class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent"
                placeholder="email" name="email">
            <input type="text" class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent"
                placeholder="image url" name="image">
            <input type="submit" value="Create User" class="px-5 py-2  outline-none rounded-lg bg-blue-500 ml-4">
        </form>

    </div>
</body>

</html>